.Logo{
    font-size: 100px; /* Big letter */
    font-weight: 900;
    background: linear-gradient(135deg, #1e90ff, #8a2be2); /* blue → purple */
    -webkit-background-clip: text; /* show gradient inside text */
    -webkit-text-fill-color: transparent; /* hide solid color */
    border: none;
    background-clip: text; /* standard property */
    transition: transform 0.2s ease;
    font-family: Comic Sans MS;
    cursor: pointer;
}
.menu-open-button{
    font-size: 70px; /* Big letter */
    background: linear-gradient(135deg, #1e90ff, #8a2be2); /* blue → purple */
    -webkit-background-clip: text; /* show gradient inside text */
    -webkit-text-fill-color: transparent; /* hide solid color */
    border: none;
    background-clip: text; /* standard property */
    transition: transform 0.2s ease;
    cursor: pointer;
}
.Logo:hover, .menu-open-button:hover{
    transform: scale(1.1);
}
.Logo:active, .menu-open-button:active{
    transform: scale(0.95);
}
body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: black;

  }

  /* Left navigation bar */
  .sidebar {
    width: 10%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
    border: 2px solid #8a2be2;
    animation: rgbGlow 4s linear infinite;
  }
  .displayArea{
    padding: 10%;
    margin-top: 7vh;
  }
  .menu-open{
    margin-top: 6vh;
    padding: 0.7vh;
  }
  @keyframes rgbGlow {
  0% {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
    border-color: #ff0000;
  }
  25% {
    box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    border-color: #00ff00;
  }
  50% {
    box-shadow: 0 0 5px #0000ff, 0 0 10px #0000ff, 0 0 20px #0000ff;
    border-color: #0000ff;
  }
  75% {
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    border-color: #ff00ff;
  }
  100% {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
    border-color: #ff0000;
  }
}

 .menu-panel{
    padding: 3vh;
    transform: translateY(-10px);
    transition: 0.25s ease;
    opacity: 0;
    pointer-events: none;
 }
  .menu-panel li {
    line-height: 300%;
    transition: transform 0.2s ease;
  }
  .menu-panel li:hover{
    transform: scale(1.4);
  }
  .menu-panel li:active{
    transform: scale(0.95);
  }
  .menu-panel:active{
    transform: scale(0.95);
  }

  /* The bouncing area on the right */
  .contentArea {
    flex: 1;
    background: black;
    overflow: hidden;
  }
.menu-panel.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.myName{
  width: 47vh;
  margin-left: 65%;
  margin-top: 20vh;
}
.FirstName{
  color: #6b04f3;
  font-size: 180px; /* Big letter */
  font-weight: 900;
  font-family: Comic Sans MS;
}
.SecondName{
  color:#6b04f3;
  font-size: 180px; /* Big letter */
  font-weight: 900;
  font-family: Comic Sans MS;
  margin-left: 25vh
}


